.building-item_acid{ background-position: 0 0; width: 16px; height: 16px; } 
.building-item_bgrenade{ background-position: 0 -32px; width: 16px; height: 16px; } 
.building-item_courroie{ background-position: 0 -64px; width: 16px; height: 16px; } 
.building-item_digger{ background-position: 0 -96px; width: 16px; height: 16px; } 
.building-item_electro{ background-position: 0 -128px; width: 16px; height: 16px; } 
.building-item_firework_tube{ background-position: 0 -160px; width: 16px; height: 16px; } 
.building-item_hmeat{ background-position: 0 -192px; width: 16px; height: 16px; } 
.building-item_jerrycan{ background-position: 0 -224px; width: 16px; height: 16px; } 
.building-item_meat{ background-position: 0 -256px; width: 16px; height: 16px; } 
.building-item_meca_parts{ background-position: 0 -288px; width: 16px; height: 16px; } 
.building-item_plate{ background-position: 0 -320px; width: 16px; height: 16px; } 
.building-item_rp_book2{ background-position: 0 -352px; width: 16px; height: 16px; } 
.building-item_shield{ background-position: 0 -384px; width: 16px; height: 16px; } 
.building-item_tagger{ background-position: 0 -416px; width: 16px; height: 16px; } 
.building-item_tube{ background-position: 0 -448px; width: 16px; height: 16px; } 
.building-item_vegetable_tasty{ background-position: 0 -480px; width: 16px; height: 16px; } 
.building-item_wood_beam{ background-position: 0 -512px; width: 16px; height: 16px; } 
.building-item_wood_plate{ background-position: 0 -544px; width: 16px; height: 16px; } 
.building-r_dhang{ background-position: 0 -576px; width: 16px; height: 16px; } 
.building-small_acidspray{ background-position: 0 -608px; width: 16px; height: 17px; } 
.building-small_appletree{ background-position: 0 -641px; width: 16px; height: 17px; } 
.building-small_arma{ background-position: 0 -674px; width: 16px; height: 16px; } 
.building-small_balloon{ background-position: 0 -706px; width: 16px; height: 17px; } 
.building-small_bamba{ background-position: 0 -739px; width: 16px; height: 17px; } 
.building-small_barbed{ background-position: 0 -772px; width: 16px; height: 17px; } 
.building-small_building{ background-position: 0 -805px; width: 16px; height: 16px; } 
.building-small_cafet{ background-position: 0 -837px; width: 16px; height: 17px; } 
.building-small_canon{ background-position: 0 -870px; width: 16px; height: 17px; } 
.building-small_castle{ background-position: 0 -903px; width: 16px; height: 17px; } 
.building-small_cemetery{ background-position: 0 -936px; width: 16px; height: 17px; } 
.building-small_chicken{ background-position: 0 -969px; width: 16px; height: 17px; } 
.building-small_cinema{ background-position: 0 -1002px; width: 16px; height: 17px; } 
.building-small_city_up{ background-position: 0 -1035px; width: 16px; height: 16px; } 
.building-small_court{ background-position: 0 -1067px; width: 16px; height: 17px; } 
.building-small_crow{ background-position: 0 -1100px; width: 16px; height: 17px; } 
.building-small_derrick{ background-position: 0 -1133px; width: 16px; height: 17px; } 
.building-small_dig{ background-position: 0 -1166px; width: 16px; height: 16px; } 
.building-small_door_closed{ background-position: 0 -1198px; width: 16px; height: 16px; } 
.building-small_eden{ background-position: 0 -1230px; width: 16px; height: 17px; } 
.building-small_factory{ background-position: 0 -1263px; width: 16px; height: 17px; } 
.building-small_falsecity{ background-position: 0 -1296px; width: 16px; height: 17px; } 
.building-small_fence{ background-position: 0 -1329px; width: 16px; height: 16px; } 
.building-small_fireworks{ background-position: 0 -1361px; width: 16px; height: 17px; } 
.building-small_fleshcage{ background-position: 0 -1394px; width: 16px; height: 17px; } 
.building-small_gather{ background-position: 0 -1427px; width: 16px; height: 16px; } 
.building-small_grater{ background-position: 0 -1459px; width: 16px; height: 17px; } 
.building-small_grinder{ background-position: 0 -1492px; width: 16px; height: 17px; } 
.building-small_howlingbait{ background-position: 0 -1525px; width: 16px; height: 17px; } 
.building-small_infirmary{ background-position: 0 -1558px; width: 16px; height: 17px; } 
.building-small_labyrinth{ background-position: 0 -1591px; width: 16px; height: 17px; } 
.building-small_lastchance{ background-position: 0 -1624px; width: 16px; height: 17px; } 
.building-small_lighthouse{ background-position: 0 -1657px; width: 16px; height: 17px; } 
.building-small_meatbarbed{ background-position: 0 -1690px; width: 16px; height: 17px; } 
.building-small_pmvbig{ background-position: 0 -1723px; width: 16px; height: 17px; } 
.building-small_redemption{ background-position: 0 -1756px; width: 16px; height: 17px; } 
.building-small_refine{ background-position: 0 -1789px; width: 16px; height: 16px; } 
.building-small_rocket{ background-position: 0 -1821px; width: 16px; height: 17px; } 
.building-small_rocketperf{ background-position: 0 -1854px; width: 16px; height: 17px; } 
.building-small_saw{ background-position: 0 -1887px; width: 16px; height: 17px; } 
.building-small_scarecrow{ background-position: 0 -1920px; width: 16px; height: 17px; } 
.building-small_score{ background-position: 0 -1953px; width: 16px; height: 16px; } 
.building-small_shower{ background-position: -32px 0; width: 16px; height: 17px; } 
.building-small_slaughterhouse{ background-position: -32px -33px; width: 16px; height: 17px; } 
.building-small_slave{ background-position: -32px -66px; width: 16px; height: 17px; } 
.building-small_spears{ background-position: -32px -99px; width: 16px; height: 17px; } 
.building-small_sprinkler{ background-position: -32px -132px; width: 16px; height: 17px; } 
.building-small_strategy{ background-position: -32px -165px; width: 16px; height: 17px; } 
.building-small_tnt{ background-position: -32px -198px; width: 16px; height: 17px; } 
.building-small_trap{ background-position: -32px -231px; width: 16px; height: 17px; } 
.building-small_trash{ background-position: -32px -264px; width: 16px; height: 17px; } 
.building-small_trashclean{ background-position: -32px -297px; width: 16px; height: 17px; } 
.building-small_valve{ background-position: -32px -330px; width: 16px; height: 17px; } 
.building-small_ventilation{ background-position: -32px -363px; width: 16px; height: 17px; } 
.building-small_wallimprove{ background-position: -32px -396px; width: 16px; height: 17px; } 
.building-small_watchmen{ background-position: -32px -429px; width: 16px; height: 17px; } 
.building-small_water{ background-position: -32px -462px; width: 16px; height: 16px; } 
.building-small_watercanon{ background-position: -32px -494px; width: 16px; height: 17px; } 
.building-small_waterdetect{ background-position: -32px -527px; width: 16px; height: 17px; } 
.building-small_waterhole{ background-position: -32px -560px; width: 16px; height: 17px; } 
.building-small_waterspray{ background-position: -32px -593px; width: 16px; height: 17px; } 
.building-small_wheel{ background-position: -32px -626px; width: 16px; height: 17px; } 
.building-status_terror{ background-position: -32px -659px; width: 16px; height: 16px; } 
