.distinction-r_alcool{ background-position: 0 0; width: 16px; height: 16px; }
.distinction-r_animal{ background-position: 0 -32px; width: 16px; height: 16px; }
.distinction-r_armag{ background-position: 0 -64px; width: 16px; height: 16px; }
.distinction-r_ban{ background-position: 0 -96px; width: 16px; height: 16px; }
.distinction-r_batgun{ background-position: 0 -128px; width: 16px; height: 16px; }
.distinction-r_beta{ background-position: 0 -160px; width: 16px; height: 16px; }
.distinction-r_bgum{ background-position: 0 -192px; width: 16px; height: 16px; }
.distinction-r_brep{ background-position: 0 -224px; width: 16px; height: 17px; }
.distinction-r_broken{ background-position: 0 -257px; width: 16px; height: 16px; }
.distinction-r_buildr{ background-position: 0 -289px; width: 16px; height: 16px; }
.distinction-r_camp{ background-position: 0 -321px; width: 16px; height: 16px; }
.distinction-r_cannib{ background-position: 0 -353px; width: 16px; height: 16px; }
.distinction-r_cgarb{ background-position: 0 -385px; width: 16px; height: 16px; }
.distinction-r_chstxl{ background-position: 0 -417px; width: 16px; height: 16px; }
.distinction-r_cmplst{ background-position: 0 -449px; width: 16px; height: 16px; }
.distinction-r_cobaye{ background-position: 0 -481px; width: 16px; height: 16px; }
.distinction-r_collec{ background-position: 0 -513px; width: 16px; height: 16px; }
.distinction-r_cooked{ background-position: 0 -545px; width: 16px; height: 16px; }
.distinction-r_cookr{ background-position: 0 -577px; width: 16px; height: 16px; }
.distinction-r_cott{ background-position: 0 -609px; width: 16px; height: 16px; }
.distinction-r_cwater{ background-position: 0 -641px; width: 16px; height: 16px; }
.distinction-r_dcity{ background-position: 0 -673px; width: 16px; height: 16px; }
.distinction-r_ddrug{ background-position: 0 -705px; width: 16px; height: 16px; }
.distinction-r_deco{ background-position: 0 -737px; width: 16px; height: 16px; }
.distinction-r_dhang{ background-position: 0 -769px; width: 16px; height: 16px; }
.distinction-r_digger{ background-position: 0 -801px; width: 16px; height: 16px; }
.distinction-r_dinfec{ background-position: 0 -833px; width: 16px; height: 16px; }
.distinction-r_dnucl{ background-position: 0 -865px; width: 16px; height: 16px; }
.distinction-r_door{ background-position: 0 -897px; width: 16px; height: 16px; }
.distinction-r_doutsd{ background-position: 0 -929px; width: 16px; height: 16px; }
.distinction-r_drgmkr{ background-position: 0 -961px; width: 16px; height: 16px; }
.distinction-r_drug{ background-position: 0 -993px; width: 16px; height: 16px; }
.distinction-r_dwater{ background-position: 0 -1025px; width: 16px; height: 16px; }
.distinction-r_ebcrow{ background-position: 0 -1057px; width: 16px; height: 16px; }
.distinction-r_ebcstl{ background-position: 0 -1089px; width: 16px; height: 16px; }
.distinction-r_ebgros{ background-position: 0 -1121px; width: 16px; height: 16px; }
.distinction-r_ebpmv{ background-position: 0 -1153px; width: 16px; height: 16px; }
.distinction-r_ebuild{ background-position: 0 -1185px; width: 16px; height: 17px; }
.distinction-r_ermwin{ background-position: 0 -1218px; width: 16px; height: 16px; }
.distinction-r_explo2{ background-position: 0 -1250px; width: 16px; height: 16px; }
.distinction-r_explor{ background-position: 0 -1282px; width: 16px; height: 16px; }
.distinction-r_forum{ background-position: 0 -1314px; width: 16px; height: 16px; }
.distinction-r_guide{ background-position: 0 -1346px; width: 16px; height: 16px; }
.distinction-r_hbuild{ background-position: 0 -1378px; width: 16px; height: 16px; }
.distinction-r_heroac{ background-position: 0 -1410px; width: 16px; height: 16px; }
.distinction-r_homeup{ background-position: 0 -1442px; width: 16px; height: 16px; }
.distinction-r_jcolle{ background-position: 0 -1474px; width: 16px; height: 16px; }
.distinction-r_jermit{ background-position: 0 -1506px; width: 16px; height: 16px; }
.distinction-r_jguard{ background-position: 0 -1538px; width: 16px; height: 16px; }
.distinction-r_jrangr{ background-position: 0 -1570px; width: 16px; height: 16px; }
.distinction-r_jsham{ background-position: 0 -1602px; width: 16px; height: 16px; }
.distinction-r_jtamer{ background-position: 0 -1634px; width: 16px; height: 16px; }
.distinction-r_jtech{ background-position: 0 -1666px; width: 16px; height: 16px; }
.distinction-r_killz{ background-position: 0 -1698px; width: 16px; height: 16px; }
.distinction-r_lepre{ background-position: 0 -1730px; width: 16px; height: 16px; }
.distinction-r_maso{ background-position: 0 -1762px; width: 16px; height: 16px; }
.distinction-r_mystic{ background-position: 0 -1794px; width: 16px; height: 16px; }
.distinction-r_nodrug{ background-position: 0 -1826px; width: 16px; height: 16px; }
.distinction-r_plundr{ background-position: 0 -1858px; width: 16px; height: 16px; }
.distinction-r_ptame{ background-position: 0 -1890px; width: 16px; height: 16px; }
.distinction-r_refine{ background-position: 0 -1922px; width: 16px; height: 16px; }
.distinction-r_repair{ background-position: 0 -1954px; width: 16px; height: 16px; }
.distinction-r_rp{ background-position: -32px 0; width: 16px; height: 16px; }
.distinction-r_rrefer{ background-position: -32px -32px; width: 16px; height: 16px; }
.distinction-r_ruine{ background-position: -32px -64px; width: 16px; height: 16px; }
.distinction-r_sandb{ background-position: -32px -96px; width: 16px; height: 16px; }
.distinction-r_share{ background-position: -32px -128px; width: 16px; height: 16px; }
.distinction-r_solban{ background-position: -32px -160px; width: 16px; height: 16px; }
.distinction-r_suhard{ background-position: -32px -192px; width: 16px; height: 16px; }
.distinction-r_surgrp{ background-position: -32px -224px; width: 16px; height: 16px; }
.distinction-r_surlst{ background-position: -32px -256px; width: 16px; height: 16px; }
.distinction-r_theft{ background-position: -32px -288px; width: 16px; height: 16px; }
.distinction-r_tronco{ background-position: -32px -320px; width: 16px; height: 16px; }
.distinction-r_watgun{ background-position: -32px -352px; width: 16px; height: 16px; }
.distinction-r_winbas{ background-position: -32px -384px; width: 16px; height: 16px; }
.distinction-r_wintop{ background-position: -32px -416px; width: 16px; height: 16px; }
.distinction-r_wondrs{ background-position: -32px -448px; width: 16px; height: 16px; }
.distinction-r_wound{ background-position: -32px -480px; width: 16px; height: 16px; }
.distinction-r_wrestl{ background-position: -32px -512px; width: 16px; height: 16px; } 
