#duskdawn-site {
    width:640px;
    margin:0 auto
}
#duskdawn-site .signin {
    width: 320px;
    float: right;
    background-color:#5C2B20;
    margin: 2px;
}
#duskdawn-site .signin p {
    margin: 4px;
}
#duskdawn-site p {
    font-size:13px;
    margin-top: 8px;
}
#duskdawn-site h1 {
    font-size:24px;
    text-shadow:#f00 2px 2px 2px;
    margin-top: 20px;
}
#duskdawn-site h2 {
    font-size:18px;
    text-shadow:#f00 2px 2px 2px;
    margin-top: 12px;
}
#duskdawn-site .footer {
    margin-bottom: 40px;
}
#duskdawn-site .question-list li {
    list-style: disc;
    margin-left: 16px;
}
#duskdawn-site .question img {
    height: 20px;
    width: 20px;
}
#duskdawn-site .question p {
    font-size: 16px;
    vertical-align: middle;
    font-style: italic;
}
#duskdawn-site div.answer {
    margin-left: 26px;
}
#duskdawn-site .answer img {
    margin: 8px;
}
#duskdawn-site .answer p {
    margin-top: 8px;
}
