.item-apple{ background-position: 0 0; width: 16px; height: 17px; } 
.item-bag{ background-position: 0 -33px; width: 16px; height: 16px; } 
.item-bagxl{ background-position: 0 -65px; width: 16px; height: 16px; } 
.item-bandage{ background-position: 0 -97px; width: 16px; height: 16px; } 
.item-banned_note{ background-position: 0 -129px; width: 16px; height: 16px; } 
.item-bed{ background-position: 0 -161px; width: 16px; height: 16px; } 
.item-beta_drug_bad{ background-position: 0 -193px; width: 16px; height: 16px; } 
.item-bgrenade{ background-position: 0 -225px; width: 16px; height: 16px; } 
.item-bgrenade_empty{ background-position: 0 -257px; width: 16px; height: 16px; } 
.item-big_pgun{ background-position: 0 -289px; width: 16px; height: 16px; } 
.item-big_pgun_empty{ background-position: 0 -321px; width: 16px; height: 16px; } 
.item-big_pgun_part{ background-position: 0 -353px; width: 16px; height: 16px; } 
.item-bone{ background-position: 0 -385px; width: 16px; height: 16px; } 
.item-bone_meat{ background-position: 0 -417px; width: 16px; height: 16px; } 
.item-book_gen_box{ background-position: 0 -449px; width: 16px; height: 16px; } 
.item-book_gen_letter{ background-position: 0 -481px; width: 16px; height: 16px; } 
.item-boomfruit{ background-position: 0 -513px; width: 16px; height: 16px; } 
.item-bplan_box{ background-position: 0 -545px; width: 16px; height: 16px; } 
.item-bplan_box_e{ background-position: 0 -577px; width: 16px; height: 16px; } 
.item-bplan_c{ background-position: 0 -609px; width: 16px; height: 16px; } 
.item-bplan_drop{ background-position: 0 -641px; width: 16px; height: 16px; } 
.item-bplan_e{ background-position: 0 -673px; width: 16px; height: 16px; } 
.item-bplan_r{ background-position: 0 -705px; width: 16px; height: 16px; } 
.item-bplan_u{ background-position: 0 -737px; width: 16px; height: 16px; } 
.item-broken{ background-position: 0 -769px; width: 16px; height: 16px; } 
.item-bumpKey{ background-position: 0 -801px; width: 16px; height: 16px; } 
.item-can{ background-position: 0 -833px; width: 16px; height: 16px; } 
.item-can_open{ background-position: 0 -865px; width: 16px; height: 16px; } 
.item-can_opener{ background-position: 0 -897px; width: 16px; height: 16px; } 
.item-car_door{ background-position: 0 -929px; width: 16px; height: 16px; } 
.item-car_door_part{ background-position: 0 -961px; width: 16px; height: 16px; } 
.item-cards{ background-position: 0 -993px; width: 16px; height: 16px; } 
.item-carpet{ background-position: 0 -1025px; width: 16px; height: 16px; } 
.item-cart{ background-position: 0 -1057px; width: 16px; height: 16px; } 
.item-cart_part{ background-position: 0 -1089px; width: 16px; height: 16px; } 
.item-chain{ background-position: 0 -1121px; width: 16px; height: 16px; } 
.item-chainsaw{ background-position: 0 -1153px; width: 16px; height: 16px; } 
.item-chainsaw_empty{ background-position: 0 -1185px; width: 16px; height: 16px; } 
.item-chainsaw_part{ background-position: 0 -1217px; width: 16px; height: 16px; } 
.item-chair{ background-position: 0 -1249px; width: 16px; height: 16px; } 
.item-chair_basic{ background-position: 0 -1281px; width: 16px; height: 16px; } 
.item-chama{ background-position: 0 -1313px; width: 16px; height: 16px; } 
.item-chama_tasty{ background-position: 0 -1345px; width: 16px; height: 16px; } 
.item-chest{ background-position: 0 -1377px; width: 16px; height: 16px; } 
.item-chest_citizen{ background-position: 0 -1409px; width: 16px; height: 16px; } 
.item-chest_food{ background-position: 0 -1441px; width: 16px; height: 16px; } 
.item-chest_hero{ background-position: 0 -1473px; width: 16px; height: 16px; } 
.item-chest_tools{ background-position: 0 -1505px; width: 16px; height: 16px; } 
.item-chest_xl{ background-position: 0 -1537px; width: 16px; height: 16px; } 
.item-cigs{ background-position: 0 -1569px; width: 16px; height: 16px; } 
.item-classicKey{ background-position: 0 -1601px; width: 16px; height: 16px; } 
.item-coffee{ background-position: 0 -1633px; width: 16px; height: 16px; } 
.item-coffee_machine{ background-position: 0 -1665px; width: 16px; height: 16px; } 
.item-coffee_machine_part{ background-position: 0 -1697px; width: 16px; height: 16px; } 
.item-concrete{ background-position: 0 -1729px; width: 16px; height: 16px; } 
.item-concrete_wall{ background-position: 0 -1761px; width: 16px; height: 16px; } 
.item-courroie{ background-position: 0 -1793px; width: 16px; height: 16px; } 
.item-cutcut{ background-position: 0 -1825px; width: 16px; height: 16px; } 
.item-cutter{ background-position: 0 -1857px; width: 16px; height: 16px; } 
.item-cyanure{ background-position: 0 -1889px; width: 16px; height: 16px; } 
.item-deco_box{ background-position: 0 -1921px; width: 16px; height: 16px; } 
.item-deto{ background-position: 0 -1953px; width: 16px; height: 16px; } 
.item-dice{ background-position: -32px 0; width: 16px; height: 16px; } 
.item-digger{ background-position: -32px -32px; width: 16px; height: 16px; } 
.item-dish{ background-position: -32px -64px; width: 16px; height: 16px; } 
.item-dish_tasty{ background-position: -32px -96px; width: 16px; height: 16px; } 
.item-disinfect{ background-position: -32px -128px; width: 16px; height: 16px; } 
.item-door{ background-position: -32px -160px; width: 16px; height: 16px; } 
.item-door_carpet{ background-position: -32px -192px; width: 16px; height: 16px; } 
.item-drug{ background-position: -32px -224px; width: 16px; height: 16px; } 
.item-drug_hero{ background-position: -32px -256px; width: 16px; height: 16px; } 
.item-drug_random{ background-position: -32px -288px; width: 16px; height: 16px; } 
.item-drug_water{ background-position: -32px -320px; width: 16px; height: 16px; } 
.item-egg{ background-position: -32px -352px; width: 16px; height: 16px; } 
.item-electro{ background-position: -32px -384px; width: 16px; height: 16px; } 
.item-electro_box{ background-position: -32px -416px; width: 16px; height: 16px; } 
.item-engine{ background-position: -32px -448px; width: 16px; height: 16px; } 
.item-engine_part{ background-position: -32px -480px; width: 16px; height: 16px; } 
.item-explo{ background-position: -32px -512px; width: 16px; height: 16px; } 
.item-fence{ background-position: -32px -544px; width: 16px; height: 16px; } 
.item-flare{ background-position: -32px -576px; width: 16px; height: 16px; } 
.item-flash{ background-position: -32px -608px; width: 16px; height: 16px; } 
.item-flesh{ background-position: -32px -640px; width: 16px; height: 16px; } 
.item-flesh_part{ background-position: -32px -672px; width: 16px; height: 16px; } 
.item-food_armag{ background-position: -32px -704px; width: 16px; height: 16px; } 
.item-food_bag{ background-position: -32px -736px; width: 16px; height: 16px; } 
.item-food_bar1{ background-position: -32px -768px; width: 16px; height: 16px; } 
.item-food_bar2{ background-position: -32px -800px; width: 16px; height: 16px; } 
.item-food_bar3{ background-position: -32px -832px; width: 16px; height: 16px; } 
.item-food_biscuit{ background-position: -32px -864px; width: 16px; height: 16px; } 
.item-food_candies{ background-position: -32px -896px; width: 16px; height: 16px; } 
.item-food_chick{ background-position: -32px -928px; width: 16px; height: 16px; } 
.item-food_noodles{ background-position: -32px -960px; width: 16px; height: 16px; } 
.item-food_noodles_hot{ background-position: -32px -992px; width: 16px; height: 16px; } 
.item-food_pims{ background-position: -32px -1024px; width: 16px; height: 16px; } 
.item-food_sandw{ background-position: -32px -1056px; width: 16px; height: 16px; } 
.item-food_tarte{ background-position: -32px -1088px; width: 16px; height: 16px; } 
.item-fruit{ background-position: -32px -1120px; width: 16px; height: 16px; } 
.item-fruit_part{ background-position: -32px -1152px; width: 16px; height: 16px; } 
.item-fruit_sub_part{ background-position: -32px -1184px; width: 16px; height: 16px; } 
.item-game_box{ background-position: -32px -1216px; width: 16px; height: 16px; } 
.item-grenade{ background-position: -32px -1248px; width: 16px; height: 16px; } 
.item-grenade_empty{ background-position: -32px -1280px; width: 16px; height: 16px; } 
.item-gun{ background-position: -32px -1312px; width: 16px; height: 16px; } 
.item-hmeat{ background-position: -32px -1344px; width: 16px; height: 16px; } 
.item-home_box{ background-position: -32px -1376px; width: 16px; height: 16px; } 
.item-home_box_xl{ background-position: -32px -1408px; width: 16px; height: 16px; } 
.item-home_def{ background-position: -32px -1440px; width: 16px; height: 16px; } 
.item-infect_poison_part{ background-position: -32px -1472px; width: 16px; height: 16px; } 
.item-iphone{ background-position: -32px -1504px; width: 16px; height: 16px; } 
.item-jerrycan{ background-position: -32px -1536px; width: 16px; height: 16px; } 
.item-jerrygun{ background-position: -32px -1568px; width: 16px; height: 16px; } 
.item-jerrygun_off{ background-position: -32px -1600px; width: 16px; height: 16px; } 
.item-jerrygun_part{ background-position: -32px -1632px; width: 16px; height: 16px; } 
.item-knife{ background-position: -32px -1664px; width: 16px; height: 16px; } 
.item-lamp{ background-position: -32px -1696px; width: 16px; height: 16px; } 
.item-lamp_on{ background-position: -32px -1728px; width: 16px; height: 16px; } 
.item-lawn{ background-position: -32px -1760px; width: 16px; height: 16px; } 
.item-lawn_part{ background-position: -32px -1792px; width: 16px; height: 16px; } 
.item-lights{ background-position: -32px -1824px; width: 16px; height: 16px; } 
.item-lock{ background-position: -32px -1856px; width: 16px; height: 16px; } 
.item-machine_1{ background-position: -32px -1888px; width: 16px; height: 16px; } 
.item-machine_2{ background-position: -32px -1920px; width: 16px; height: 16px; } 
.item-machine_3{ background-position: -32px -1952px; width: 16px; height: 16px; } 
.item-machine_gun{ background-position: -64px 0; width: 16px; height: 16px; } 
.item-magneticKey{ background-position: -64px -32px; width: 16px; height: 16px; } 
.item-meat{ background-position: -64px -64px; width: 16px; height: 16px; } 
.item-meca_parts{ background-position: -64px -96px; width: 16px; height: 16px; } 
.item-mecanism{ background-position: -64px -128px; width: 16px; height: 16px; } 
.item-metal{ background-position: -64px -160px; width: 16px; height: 16px; } 
.item-metal_bad{ background-position: -64px -192px; width: 16px; height: 16px; } 
.item-metal_beam{ background-position: -64px -224px; width: 16px; height: 16px; } 
.item-mixergun{ background-position: -64px -256px; width: 16px; height: 16px; } 
.item-mixergun_empty{ background-position: -64px -288px; width: 16px; height: 16px; } 
.item-mixergun_part{ background-position: -64px -320px; width: 16px; height: 16px; } 
.item-money{ background-position: -64px -352px; width: 16px; height: 16px; } 
.item-music{ background-position: -64px -384px; width: 16px; height: 16px; } 
.item-music_part{ background-position: -64px -416px; width: 16px; height: 16px; } 
.item-out_def{ background-position: -64px -448px; width: 16px; height: 16px; } 
.item-pc{ background-position: -64px -480px; width: 16px; height: 16px; } 
.item-pet_cat{ background-position: -64px -512px; width: 16px; height: 16px; } 
.item-pet_chick{ background-position: -64px -544px; width: 16px; height: 16px; } 
.item-pet_dog{ background-position: -64px -576px; width: 16px; height: 16px; } 
.item-pet_pig{ background-position: -64px -608px; width: 16px; height: 16px; } 
.item-pet_rat{ background-position: -64px -640px; width: 16px; height: 16px; } 
.item-pet_snake{ background-position: -64px -672px; width: 16px; height: 16px; } 
.item-pharma{ background-position: -64px -704px; width: 16px; height: 16px; } 
.item-pharma_part{ background-position: -64px -736px; width: 16px; height: 16px; } 
.item-pile{ background-position: -64px -768px; width: 16px; height: 16px; } 
.item-pile_broken{ background-position: -64px -800px; width: 16px; height: 16px; } 
.item-pilegun{ background-position: -64px -832px; width: 16px; height: 16px; } 
.item-pilegun_empty{ background-position: -64px -864px; width: 16px; height: 16px; } 
.item-pilegun_up{ background-position: -64px -896px; width: 16px; height: 16px; } 
.item-pilegun_up_empty{ background-position: -64px -928px; width: 16px; height: 16px; } 
.item-pilegun_upkit{ background-position: -64px -960px; width: 16px; height: 16px; } 
.item-plate{ background-position: -64px -992px; width: 16px; height: 16px; } 
.item-plate_raw{ background-position: -64px -1024px; width: 16px; height: 16px; } 
.item-pocket_belt{ background-position: -64px -1056px; width: 16px; height: 16px; } 
.item-poison{ background-position: -64px -1088px; width: 16px; height: 16px; } 
.item-poison_part{ background-position: -64px -1120px; width: 16px; height: 16px; } 
.item-postal_box{ background-position: -64px -1152px; width: 16px; height: 16px; } 
.item-postal_box_xl{ background-position: -64px -1184px; width: 16px; height: 16px; } 
.item-powder{ background-position: -64px -1216px; width: 16px; height: 16px; } 
.item-prints{ background-position: -64px -1248px; width: 16px; height: 16px; } 
.item-radio_off{ background-position: -64px -1280px; width: 16px; height: 16px; } 
.item-radio_on{ background-position: -64px -1312px; width: 16px; height: 16px; } 
.item-radius_mk2{ background-position: -64px -1344px; width: 16px; height: 16px; } 
.item-radius_mk2_part{ background-position: -64px -1376px; width: 16px; height: 16px; } 
.item-repair_kit{ background-position: -64px -1408px; width: 16px; height: 16px; } 
.item-repair_kit_part{ background-position: -64px -1440px; width: 16px; height: 16px; } 
.item-repair_kit_part_raw{ background-position: -64px -1472px; width: 16px; height: 16px; } 
.item-repair_one{ background-position: -64px -1504px; width: 16px; height: 16px; } 
.item-rhum{ background-position: -64px -1536px; width: 16px; height: 16px; } 
.item-rp_book{ background-position: -64px -1568px; width: 16px; height: 16px; } 
.item-rp_book2{ background-position: -64px -1600px; width: 16px; height: 16px; } 
.item-rp_letter{ background-position: -64px -1632px; width: 16px; height: 16px; } 
.item-rp_manual{ background-position: -64px -1664px; width: 16px; height: 16px; } 
.item-rp_scroll{ background-position: -64px -1696px; width: 16px; height: 16px; } 
.item-rp_sheets{ background-position: -64px -1728px; width: 16px; height: 16px; } 
.item-rp_twin{ background-position: -64px -1760px; width: 16px; height: 16px; } 
.item-rsc_pack_1{ background-position: -64px -1792px; width: 16px; height: 16px; } 
.item-rsc_pack_2{ background-position: -64px -1824px; width: 16px; height: 16px; } 
.item-rsc_pack_3{ background-position: -64px -1856px; width: 16px; height: 16px; } 
.item-rustine{ background-position: -64px -1888px; width: 16px; height: 16px; } 
.item-safe{ background-position: -64px -1920px; width: 16px; height: 16px; } 
.item-saw_tool{ background-position: -64px -1952px; width: 16px; height: 16px; } 
.item-saw_tool_part{ background-position: -96px 0; width: 16px; height: 16px; } 
.item-screw{ background-position: -96px -32px; width: 16px; height: 16px; } 
.item-sheet{ background-position: -96px -64px; width: 16px; height: 16px; } 
.item-small_knife{ background-position: -96px -96px; width: 16px; height: 16px; } 
.item-smelly_meat{ background-position: -96px -128px; width: 16px; height: 16px; } 
.item-smoke_bomb{ background-position: -96px -160px; width: 16px; height: 16px; } 
.item-spices{ background-position: -96px -192px; width: 16px; height: 16px; } 
.item-sport_elec{ background-position: -96px -224px; width: 16px; height: 16px; } 
.item-sport_elec_empty{ background-position: -96px -256px; width: 16px; height: 16px; } 
.item-staff{ background-position: -96px -288px; width: 16px; height: 16px; } 
.item-swiss_knife{ background-position: -96px -320px; width: 16px; height: 16px; } 
.item-table{ background-position: -96px -352px; width: 16px; height: 16px; } 
.item-tagger{ background-position: -96px -384px; width: 16px; height: 16px; } 
.item-taser{ background-position: -96px -416px; width: 16px; height: 16px; } 
.item-taser_empty{ background-position: -96px -448px; width: 16px; height: 16px; } 
.item-teddy{ background-position: -96px -480px; width: 16px; height: 16px; } 
.item-torch{ background-position: -96px -512px; width: 16px; height: 16px; } 
.item-torch_off{ background-position: -96px -544px; width: 16px; height: 16px; } 
.item-trestle{ background-position: -96px -576px; width: 16px; height: 16px; } 
.item-tube{ background-position: -96px -608px; width: 16px; height: 16px; } 
.item-undef{ background-position: -96px -640px; width: 16px; height: 16px; } 
.item-vegetable{ background-position: -96px -672px; width: 16px; height: 16px; } 
.item-vegetable_tasty{ background-position: -96px -704px; width: 16px; height: 16px; } 
.item-vibr{ background-position: -96px -736px; width: 16px; height: 16px; } 
.item-vibr_empty{ background-position: -96px -768px; width: 16px; height: 16px; } 
.item-vodka{ background-position: -96px -800px; width: 16px; height: 16px; } 
.item-water{ background-position: -96px -832px; width: 16px; height: 16px; } 
.item-water_can_1{ background-position: -96px -864px; width: 16px; height: 16px; } 
.item-water_can_2{ background-position: -96px -896px; width: 16px; height: 16px; } 
.item-water_can_3{ background-position: -96px -928px; width: 16px; height: 16px; } 
.item-water_can_empty{ background-position: -96px -960px; width: 16px; height: 16px; } 
.item-water_cleaner{ background-position: -96px -992px; width: 16px; height: 16px; } 
.item-water_cup{ background-position: -96px -1024px; width: 16px; height: 16px; } 
.item-water_cup_part{ background-position: -96px -1056px; width: 16px; height: 16px; } 
.item-watergun_1{ background-position: -96px -1088px; width: 16px; height: 16px; } 
.item-watergun_2{ background-position: -96px -1120px; width: 16px; height: 16px; } 
.item-watergun_3{ background-position: -96px -1152px; width: 16px; height: 16px; } 
.item-watergun_empty{ background-position: -96px -1184px; width: 16px; height: 16px; } 
.item-watergun_opt_1{ background-position: -96px -1216px; width: 16px; height: 16px; } 
.item-watergun_opt_2{ background-position: -96px -1248px; width: 16px; height: 16px; } 
.item-watergun_opt_3{ background-position: -96px -1280px; width: 16px; height: 16px; } 
.item-watergun_opt_4{ background-position: -96px -1312px; width: 16px; height: 16px; } 
.item-watergun_opt_5{ background-position: -96px -1344px; width: 16px; height: 16px; } 
.item-watergun_opt_empty{ background-position: -96px -1376px; width: 16px; height: 16px; } 
.item-watergun_opt_part{ background-position: -96px -1408px; width: 16px; height: 16px; } 
.item-wood2{ background-position: -96px -1440px; width: 16px; height: 16px; } 
.item-wood_bad{ background-position: -96px -1472px; width: 16px; height: 16px; } 
.item-wood_beam{ background-position: -96px -1504px; width: 16px; height: 16px; } 
.item-wood_log{ background-position: -96px -1536px; width: 16px; height: 16px; } 
.item-wood_plate{ background-position: -96px -1568px; width: 16px; height: 16px; } 
.item-wood_plate_part{ background-position: -96px -1600px; width: 16px; height: 16px; } 
.item-woodsteak{ background-position: -96px -1632px; width: 16px; height: 16px; } 
.item-wrench{ background-position: -96px -1664px; width: 16px; height: 16px; } 
.item-xanax{ background-position: -96px -1696px; width: 16px; height: 16px; } 
