.job-basic_suit{ background-position: 0 0; width: 16px; height: 16px; }
.job-hunter{ background-position: 0 -32px; width: 16px; height: 16px; }
.job-pelle{ background-position: 0 -64px; width: 16px; height: 16px; }
.job-question-mark{ background-position: 0 -96px; width: 16px; height: 16px; }
.job-shaman{ background-position: 0 -128px; width: 16px; height: 16px; }
.job-shield{ background-position: 0 -160px; width: 16px; height: 16px; }
.job-tamed_pet{ background-position: 0 -192px; width: 16px; height: 16px; }
.job-tech{ background-position: 0 -224px; width: 16px; height: 16px; }
.job-vest_on{ background-position: 0 -256px; width: 16px; height: 16px; } 
