.tag-1{ background-position: 0 0; width: 16px; height: 16px; }
.tag-2{ background-position: 0 -96px; width: 16px; height: 16px; }
.tag-3{ background-position: 0 -128px; width: 16px; height: 16px; }
.tag-4{ background-position: 0 -160px; width: 16px; height: 16px; }
.tag-5{ background-position: 0 -192px; width: 16px; height: 16px; }
.tag-6{ background-position: 0 -224px; width: 16px; height: 16px; }
.tag-7{ background-position: 0 -256px; width: 16px; height: 16px; }
.tag-8{ background-position: 0 -288px; width: 16px; height: 16px; }
.tag-9{ background-position: 0 -320px; width: 16px; height: 16px; }
.tag-10{ background-position: 0 -32px; width: 16px; height: 16px; }
.tag-11{ background-position: 0 -64px; width: 16px; height: 16px; }